<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>
        {% block layout_block_title %}Welcome!{% endblock %}
    </title>
    
    {# ici les stylesheets communs à toutes les pages: #}
    {% include('layout_includes/layout_incl_stylesheets.html.twig') %}

    {# ici les stylesheets custom, chaque twig écrasera avec ses propres stylsheets custom #}
    {% block layout_block_customStylesheets %}

    {% endblock %}
</head>

<body class="bg-brownBlack_OFF">
    
    <header class="text-white">
        {{ include('layout_includes/layout_incl_header.html.twig') }}

    </header>

    <div class="container my-3">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>

    <div class="container">
        {% block layout_block_body %}
        {% endblock %}
    </div>

    <footer>
        {{ include('layout_includes/layout_incl_footer.html.twig')}}
    </footer>


    {# ici les scripts communs à toutes les pages: #}
    {% include('layout_includes/layout_incl_scripts.html.twig') %}

    {# ici les scripts custom, chaque twig écrasera avec ses propres scripts custom #}       
    {% block layout_block_customJavascripts %}
    
    {% endblock %}

</body>

</html>