{% extends 'layout.html.twig' %}

{% block main_block_title %}
    Page Material
{% endblock %}

{% block main_block_customStylesheets %}
    {#{ parent() }#}
{% endblock %}




{% block main_block_body %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Page Mon Compte</h1>

        </div>
    </div>

{% endblock %}


{% block main_block_customJavascripts %}
{% endblock %}
